<html  xmlns:th="http://www.thymeleaf.org">

<h1 style="color: purple; text-align: center"><b><u>REGISTER NEW EMPLOYEE</u></b></h1><br><br>

<form th:action="@{/employee/emp_add}" th:object="${emp}" method="POST">
	<table border="1" align="center" bgcolor="violet" style="color:white; text-align: center">
		<tr>
			<td><b>Employee Name ::</b></td>
			<td><input type="text" th:field="*{ename}"/></td>
		</tr>
		<tr>
			<td><b>Employee Designation ::</b></td>
			<td><input type="text" th:field="*{job}"/></td>
		</tr>
		<tr>
			<td><b>Employee Salary ::</b></td>
			<td><input type="text" th:field="*{sal}"/></td>
		</tr>
		<tr>
			<td><b><input type="submit" value="Register"></b></td>
			<td><b><input type="reset" value="Reset"></b></td>
		</tr>
	</table>
</form>
<br> <br>
<center>
	<a th:href="@{/employee/}"><img th:src="@{/images/home.webp}" width="120" height="120"></a>
</center>
</html>